<div class="row margin-bottom-20" id=<%= dom_id(impression) %>>
  <div class="col-sm-12 sm-margin-bottom-20">
    <div class="profile-blog">
      <img class="rounded-x" src="assets/img/testimonials/img1.jpg" alt="">
      <div class="name-location">
        <strong><%= impression.name %></strong>
        <span><%= impression.job_list %></span>
        <span><%= impression.party_list %></span>
        <span><i class="fa fa-map-marker"></i><%= impression.electoral_district_list %></span>
      </div>
      <div class="clearfix margin-bottom-20"></div>
      <p><%= impression.job_list %></p>
      <hr>
      <ul class="list-inline share-list" id="<%= dom_id(impression) %>_vote">
        <li><strong id="<%= dom_id(impression) %>_reputation"><%= impression.reputation || 0 %></strong></li>
        <li class="pull-right">
          <%= link_to unlike_impression_path(impression), remote: true do %>
            <i class="glyphicon glyphicon-heart"></i><%= impression.votes_against %> 討厭
          <% end %>
        </li>
        <li class="pull-right">
          <%= link_to like_impression_path(impression), remote: true do %>
            <i class="glyphicon glyphicon-heart"></i><%= impression.votes_for %> 喜歡
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div><!--/end row-->
