
<div class="margin-bottom-60 sm-margin-bottom-10"></div>

<div class="container content profile">
  <div class="row">


		<!-- Profile Content -->
		<div class="col-md-8 col-md-push-2">
			<div class="profile-body">
				<div class="profile-bio">
					<div class="row">
						<div class="col-md-5">
							<img class="img-responsive md-margin-bottom-10" src="<%= @impression.image %>" alt="">
						</div>
						<div class="col-md-7">
							<h2><%= @impression.name %></h2>
							<span><strong>經歷: </strong></span>
              <%= render partial: "job_list", collection: @impression.politician_jobs, as: :job %>
              <br>
							<span><strong>姓別: </strong><%= @impression.gender %></span>
							<span><strong>年齡: </strong><%= @impression.age %></span>
							<span><strong>生日: </strong><%= @impression.birthday %></span>
							<span><strong>Email: </strong><%= @impression.email %></span>
              <br>
							<span><strong>website: </strong><%= @impression.website %></span>
              <span><strong>FB 粉絲頁: </strong><%= @impression.fb_fan_page %></span>
							<span><strong>wiki: </strong><%= @impression.wiki %></span>
              <br>
              <hr>
              <%= render partial: "vote", locals: { impression: @impression } %>
						</div>
					</div>
				</div><!--/end row-->
        <div class="row">
          <div class="col-md-12">
            <%= line_chart @vote_chart_data, ytitle: "聲望", label: "聲望" if !@vote_chart_data.empty? %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p><%= simple_format(@impression.description) %></p>
          </div>
        </div>
			</div>
		</div>
		<!-- End Profile Content -->

  </div><!--/end row-->
</div>
